<div class="content-page">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Futsal Fusion</a></li>
                                <li class="breadcrumb-item active">Futsals</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-sm-8">
                    <div class="text-sm-end">
                        <div class="btn-group mb-3">
                            <button type="button" class="btn btn-primary">All</button>
                        </div>
                        <div class="btn-group mb-3 ms-1">
                            <button type="button" class="btn btn-light">Ongoing</button>
                            <button type="button" class="btn btn-light">Finished</button>
                        </div>
                        <div class="btn-group mb-3 ms-2 d-none d-sm-inline-block">
                            <button type="button" class="btn btn-secondary"><i class="ri-function-line"></i></button>
                        </div>
                        <div class="btn-group mb-3 d-none d-sm-inline-block">
                            <button type="button" class="btn btn-link text-muted"><i class="ri-list-check-2"></i></button>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-6 col-xxl-3">
                    <div class="card d-block">
                        <img class="card-img-top" src="~/assets/images/projects/project-1.jpg" alt="project image cap">
                        <div class="card-img-overlay">
                            <div class="badge bg-secondary text-light p-1">Exotic</div>
                        </div>
                        <div class="card-body position-relative">
                            <h4 class="mt-0">
                                <a class="text-title">Futsal Aromatics</a>
                            </h4>

                            <p class="mb-3">
                                <span class="pe-2 text-nowrap">
                                    <i class="mdi mdi-format-list-bulleted-type"></i>
                                    <b>3</b> Total Appointments
                                </span>
                                <span class="text-nowrap">
                                    <i class="mdi mdi-comment-multiple-outline"></i>
                                    <b>10</b> Current Booking
                                </span>
                            </p>
                            <p class="text-muted font-13 my-3">This card has supporting text below as a natural lead-in to additional content is a little bit longer...<a href="javascript:void(0);" class="fw-bold text-muted">view more</a>
                            <p class="mb-2 fw-bold">Progress <span class="float-end">45%</span></p>
                        </div> 
                    </div> 
                </div> 
            </div>
        </div> 
    </div>
</div>