@{
    ViewData["Title"] = "Forbidden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-4">
        <div class="text-center">
            <img src="~/assets/images/unauthorized.png" height="150" alt="Unauthorized" asp-append-version="true">
            <h1 class="text-danger mt-4">401</h1>
            <h4 class="text-uppercase text-danger mt-3">Forbidden</h4>
            <p class="text-body mt-3">
                Your request has not been applied because the user does not having the necessary permissions for a resource to be handled in the server side.
            </p>
            <a class="btn btn-create mt-3" href='javascript:history.go(-1)'><i class="mdi mdi-reply"></i> Return to Back</a>
        </div>
    </div>
</div>     